body{
  background-color:#040304 ;
  color: white;
}

.homeBg{
  background: url('https://cdn.discordapp.com/attachments/780837848030380112/929812133288493086/cover_image.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:'100wv'
}
.home{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 12rem;
  flex-direction: column;
}

.home h1{
  font-size: 3.125rem;
  color: white;
}

.home input{
  text-align: left;
  font-size: 16px;
  width: 26%;
  padding: 10px 40px;
}

.home button{
  background:#f40612;
  font-size: 26px;
  border: none;
  padding: 8px 30px;
  margin-top: 8px;
  border-radius: 4px;
}
.home button a{
  text-decoration: none;
  color: white;
}
.movieCardTitle{
  text-align: center;
  font-size: 1rem;
}

.movieCardImg{
  width: 12rem;
  height: auto;
  display: flex;
  margin: auto;
}

.movieCardLink{
  color: white;
  text-decoration: none;
}
.movieCard{
  border-radius: 8px;
  border: 2px solid black;
  width: 20%;
  margin: 4px;
}
.movieCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}